# Terraform local directory
**/.terraform/*

# State files
*.tfstate
*.tfstate.*

# Terraform vars (sensitive)
*.tfvars

# Lock file (optional)
# .terraform.lock.hcl

# Crash logs
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# ✅ Generated folder (private keys, certs, etc.)
private_keys/

# Plan files
*.tfplan
*.plan